<div class="container mx-auto p-8">
  <div class="max-w-lg mx-auto bg-white p-6 rounded-lg shadow-lg">
    <h2 class="text-3xl font-semibold text-center mb-6">Dodaj Serwis</h2>

    <form [formGroup]="serviceForm" (ngSubmit)="onSubmit()">
      <!-- Nazwa Serwisu -->
      <div class="mb-4">
        <label for="name" class="block text-gray-700">Nazwa Serwisu</label>
        <input 
          id="name" 
          formControlName="name" 
          type="text" 
          class="input input-bordered w-full mt-2" 
          placeholder="Nazwa Serwisu" />
      </div>

      <!-- Opis -->
      <div class="mb-4">
        <label for="description" class="block text-gray-700">Opis</label>
        <textarea
          id="description"
          formControlName="description"
          class="input input-bordered w-full mt-2"
          placeholder="Opis Serwisu"
        ></textarea>
      </div>

      <!-- Cena -->
      <div class="mb-4">
        <label for="price" class="block text-gray-700">Cena</label>
        <input 
          id="price" 
          formControlName="price" 
          type="text" 
          class="input input-bordered w-full mt-2" 
          placeholder="Cena" />
      </div>

      <!-- Przyciski -->
      <div class="flex justify-between items-center">
        <button 
          type="submit" 
          [disabled]="serviceForm.invalid" 
          class="btn btn-primary w-full py-2 mt-4">
          Dodaj Serwis
        </button>
      </div>
    </form>

    <!-- Komunikaty -->
    <div *ngIf="successMessage" class="mt-4 text-green-500 text-center">
      {{ successMessage }}
    </div>
    <div *ngIf="errorMessage" class="mt-4 text-red-500 text-center">
      {{ errorMessage }}
    </div>
  </div>
</div>
